<div class="container">
	<div class="row">
		<div class="col-sm-0">
		</div>
		<div class="col-sm-7">

			<%= image_tag @pic.img, class:"border-top-0", sytle: "left:50%" %>

		</div>
		<div class="col-sm-3">
			<p>Upload date: <%= @pic.created_at.localtime %></p>
			<p>User ID: <%= @pic.user_id %></p>
			<p>Name: <%= @pic.img_file_name %><br>
			<p>Size: <%= @pic.img_file_size / 1024  %> KB<br><br>
			<%= link_to @pic.img.url, class: "btn btn-success" do %>
				<i class="glyphicon glyphicon-download-alt"></i> Download
			<% end %>
		</div>
</div>